<ul ng-controller="NavCtrl" class="sharedlinks">
    <li class="sharedlinks" ng-repeat="link in sharedlinks()">
        <a href="#!" ng-click="loadAndShowModal(link.action)">
            {{link.label}}
        </a>
    </li>
</ul>