<div ng-controller="UsersCtrl">
    <div class="modal-header modal-resized-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title auth-form-heading">Sign up</h4>
    </div>
    <div class="modal-body modal-resized-body">
        <form role="form">
            <div class="{{isExist(user.error) && 'alert alert-error'}}" ng-bind="user.error"></div>
            <div class="form-group">
                <label for="user.email">Email</label>
                <input type="email" class="form-control" required="required" id="user.email" placeholder="E-mail" autofocus="autofocus" ng-model="user.email" >
            </div>
            <div class="form-group">
                <label for="user.password">Password</label>
                <input type="password" class="form-control" type="email" id="user.password" placeholder="Enter email" ng-model="user.password" >
            </div>
            <div class="form-group">
                <label for="user.confirm_password">Confirm Password</label>
                <input type="password" class="form-control" type="email" id="user.confirm_password" placeholder="Enter email" ng-model="user.confirm_password" >
            </div>
        </form>
    </div>
    <div class="modal-footer modal-resized-footer">
        <button ng-click="signup()" class="btn btn-lg btn-success btn-block" >Signup</button>
        <%= render "devise/shared/links" %>
    </div>
</div>