<!-- Modal -->
<div class="modal fade" id="shared_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="ModalsCtrl">
  <div class="modal-dialog modal-resized-dialog">
    <div class="modal-content" ng-include="modal.url">
      Hello!!
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->